@page "/login"
@layout AuthLayout
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider

<div class="container-fluid">
    <div class="container">
        <h2 class="text-center" id="title">My Chat - Login</h2>
        <p class="text-center">
            <small class="text-muted">Welcome to My Chat, a simple chat application built on Blazor using SignalR</small>
        </p>
        <hr>
        <div class="row">
            <div class="col-md-8 text-center">
                <img src="images/MyChat.png" alt="My Chat" class="img-fluid" />
            </div>
            <div class="col-md-4">
                <EditForm OnValidSubmit="OnLogin" Model="loginRequest">
                    <h3 class="text-center"> Sign In </h3>
                    <br />
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <InputText id="inputUsername" class="form-control input-lg" placeholder="Username" autofocus @bind-Value="@loginRequest.UserName" />
                        <ValidationMessage For="@(() => loginRequest.UserName)" />
                    </div>
                    <div class="form-group">
                        <InputText id="inputPassword" type="password" class="form-control input-lg" placeholder="Password" autofocus @bind-Value="@loginRequest.Password" />
                        <ValidationMessage For="@(() => loginRequest.Password)" />
                    </div>
                    <div class="form-group">
                        <label class="text-danger">@error</label>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-md btn-secondary" value="Login" type="submit">Login</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code{
    private LoginRequest loginRequest { get; set; } = new LoginRequest();
    private string error { get; set; }

    private async Task OnLogin() {
        error = null;
        try {
            await authStateProvider.Login(loginRequest);

            navigationManager.NavigateTo("");
        } catch (Exception ex) {
            error = ex.Message;
        }
    }
}